%full-wh {
    width: 100%;
    height: 100%;
}

%center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    height: var(--base);
    .main-app{
        height: var(--base);
        width: 100vw;
        position: relative;
        .main-app-content {
            display: grid;
            grid-template-columns: repeat(3, calc(100% + 3rem));
            height: var(--base);
            padding-left: 7rem;
            background-color: #fff;
            overflow: hidden;
            &.tablet {
                grid-template-columns: repeat(3, calc(100%));
                padding-left: 15rem;
            }
            &.active {
                overflow: scroll;
                > .shashin::after {
                    opacity: 1;
                }
            }
            .shashin {
                position: relative;
                &:nth-child(-n + 3) {
                    margin-top: 15rem;
                }
                &:nth-last-child(-n + 3) {
                    margin-bottom: 15rem;
                }
                img {
                    display: block;
                    @extend %full-wh;
                }
                h2 {
                    position: absolute;
                    @extend %center;
                    width: 100%;
                    margin: 0;
                    color: #ffffff;
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-align: center;
                    overflow: hidden;
                    z-index: 99;
                    pointer-events: none;
                    @media only screen and (min-width: 500px) {
                        font-size: 1.5rem;
                    }
                    @media only screen and (min-width: 769px) {
                        font-size: 2rem;
                    }
                }
                &.san,
                &.roku,
                &.kyu {
                    &::before {
                        content: "";
                        position: absolute;
                        right: -100px;
                        width: 100px;
                        height: 100%;
                        background: #ffffff;
                        pointer-events: none;
                        @media only screen and (min-width: 500px) {
                            right: -200px;
                            width: 200px;
                        }
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    @extend %full-wh;
                    opacity: 0;
                    background: transparent;
                    transition: 0.25s;
                    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
                        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
                    z-index: -1;
                }
            }
        }
    }
    .main-nav {
        position: fixed;
        z-index: 98;
        bottom: var(--button);
        height: 50px;
        width: 50px;
        left: 50%;
        transform: translateX(-50%);
        mix-blend-mode: difference;
        transition: 0.2s;
        &.icon-open {
            pointer-events: none;
        }
        .navigation-main-chevron {
            overflow: hidden;
            fill: #fff;
            svg {
                .chevron {
                    stroke: #fff;
                    stroke-width: 0.3px;
                    pointer-events: none;
                }
            }
            &.icon-open {
                .chevron {
                    fill: #000;
                }
            }
        }
    }

    .main-content {
        position: relative;
        z-index: 95;
    }
}

.logo {
    position: absolute;
    left: 2rem;
    bottom: var(--logo);
    mix-blend-mode: difference;
    overflow: hidden;
    z-index: 70;
    @media only screen and (min-width: 500px) {
        left: 7.5rem;
    }
    img {
        display: block;
        width: 7rem;
        @media only screen and (min-width: 500px) {
            width: 11rem;
        }
        @media only screen and (min-width: 769px) {
            width: 16rem;
        }
    }
}

.progress {
    height: 75px;
    top: 50px;
    width: 300px;
    position: absolute;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-size: 800px 104px;
    mix-blend-mode: lighten;
    background: linear-gradient(to right, #000 8%, #000 18%, #f8f8f8 33%);
    z-index: 999;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.svg-wrapper {
    position: absolute;
    @extend %full-wh;
    width: calc(100vw - 4rem);
    height: calc((100vw - 4rem) * 1.25);
    @media only screen and (min-width: 500px) {
        width: calc(100% - 15rem);
        height: calc((100vw - 15rem) * 1.25);
    }
    .shape {
        stroke-dashoffset: 1000;
        stroke-dasharray: 500;
        stroke-width: 2px;
        fill: transparent;
        stroke: black;
        animation: loading-spinner 2.5s linear infinite;
        &.loaded {
            animation: loading-spinner2 1.5s linear forwards;
            @media only screen and (min-width: 500px) {
                animation: loading-spinner3 1.5s linear forwards;
            }
        }
    }
}

@keyframes loading-spinner {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes loading-spinner2 {
    to {
        stroke-dashoffset: 1800;
        stroke-dasharray: 3800;
    }
}
@keyframes loading-spinner3 {
    to {
        stroke-dashoffset: 1800;
        stroke-dasharray: 4700;
    }
}

.button {
    position: absolute;
    left: 50%;
    bottom: var(--button);
    transform: translateX(-50%);
    z-index: 98;
    overflow: hidden;
    mix-blend-mode: difference;
    &.fxd {
        position: fixed;
    }
    &.white {
        mix-blend-mode: normal;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
            0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    }
    &.btn-close {
        img {
            width: 50px;
            pointer-events: none;
        }
    }
}

.reflow {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.main-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

}
