%full-wh {
  width: 100%;
  height: 100%;
}

.cr {
  position: relative;
  height: var(--base);
  overflow: scroll;
  .cr-main {
    height: 100%;
    background-color: #121212;
    .scroller-content {
      img {
        object-fit: cover;
        @extend %full-wh;
      }
    }
  }
  .cr-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--base);
    .cr-content {
      @extend %full-wh;
      .cr-content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        @extend %full-wh;
        padding: 3rem 1.5rem calc(var(--button) * 2 + 50px);
        overflow: scroll;
        z-index: 1;
        box-sizing: border-box;
        .cr-img {
          position: relative;
          width: calc((100vw / 2) - 2.5rem);
          height: calc((100vw / 2) - 2.5rem);
          overflow: hidden;
          z-index: 2;
          img {
            border-radius: 5px;
          }
        }
      }
    }
  }
  .cr-title {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .cr-title-overlay {
      position: absolute;
      left: 0;
      width: 100%;
      transition: 0.1s;
      z-index: 3;
      top: -1rem;
      height: 1rem;
      background: rgba(0, 0, 0, 0.1);
      box-shadow: -1px -8px 100px 16px black, -1px -3px 20px 20px rgba(0, 0, 0, 0.4),
        -1px -7px 14px 3px rgba(10, 37, 64, 0.35);
    }
    h2 {
      display: flex;
      font-size: 1.1rem;
      font-weight: 200;
      color: #ffffff;
      letter-spacing: 0;
      margin: 1rem 1rem 1rem 1.5rem;
    }
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      color: #ffffff;
      right: 1.5rem;
      text-transform: uppercase;
    }
  }
}
