.cr{
    position: relative;
    height: var(--base);
    overflow: scroll;
    .cr-title{
      position: fixed;
      display: flex;
      flex-direction: column;
      left: 1.5rem;
      top:1rem;
      div:first-of-type {
        overflow: hidden;
      }
      .cr-title-route{
        position: relative;
        display: flex;
        align-items: center;
      }
    }
    .scroller-title{
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 0;
      width: 100%;
      h2{
        display: flex;
        margin: 1rem;
        letter-spacing: 0;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 200;
        span{
          font-weight: 600;
          right: 1rem;
          text-transform: uppercase;
        }
      }
    }
    .cr-grid{
      padding: 0;
      grid-gap: 1rem;
      display: flex;
      height: 100%;
      align-items: center;
      width: 350%;
      img{
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }
      >div{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      h4{
        position: absolute;
        color: white;
        margin: 0;
        font-weight: 600;
        font-size: 1.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
      }
    }
    .cr-container{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--base);
      display: flex;
      align-items: center;
      .cr-content{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        .cr-content-grid{
          padding: 0.5rem;
          grid-gap: 0.5rem;
          display: grid;
          padding-bottom: calc((var(--button)*2) + 50px);
          grid-template-columns: 1fr 1fr 1fr;
          width: 100%;
          img{
            max-width: 100%;
            margin: 0 auto;
            display: block;
          }
          &.skeleton{
            box-shadow: 0 6px 12px -2px rgba(50,50,93,0.25), 0 3px 7px -3px rgba(0,0,0,0.3);
            width: calc(100% - 1rem);
            mix-blend-mode: multiply;
            background-color: #fff;
            border-radius: 4px;
            > div {
              position:relative;
              background-color:#f4f4f4;
              padding-bottom:100%;
            }
          }
        }
        .cr-content-loader{
          position: absolute;
          bottom: 0;
          width: 100%;
          z-index: -1;
          .progress-animation{
            height: calc(100% - ((var(--button)*2) + 50px + 0.5rem));
            width: calc(100% - 1rem);
          }
        }
      }
    }
    .scroller-content{
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .cr-main{
      height: 100%;
      box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    }
  }