.scroller {
    position: fixed;
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .scroller-container {
        position: absolute;
        display: flex;
        overflow: scroll;
        .scroller-content {
            position: relative;
            will-change: transform;
            overflow: hidden;
            .scroller-content-blur {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .scroller-nav {
        position: absolute;
        top: 55%;
        left: 50%;
        height: 50px;
        svg {
            width: 50px;
            pointer-events: none;
            .chevron {
                fill: #fff;
            }
        }
    }
    .scroller-progress-block {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        left: 0.5rem;
        bottom: var(--button);
        margin-bottom: 0.5rem;
        padding: 0.4rem 1rem;
        span {
            color: white;
            text-orientation: mixed;
            font-size: 0.4rem;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }
    .scroller-progress-indicator {
        position: absolute;
        bottom: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
        span {
            display: block;
            width: 5px;
            height: 5px;
            background: #1a73e8;
            margin-right: 0.5rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    // .scroller-progress{
    //     position: absolute;
    //     font-size: 0.8rem;
    //     bottom: var(--button);
    //     color: white;
    //     padding:0.4rem 1rem;
    //     text-orientation: mixed;
    //     writing-mode: vertical-lr;
    //     transform: rotate(180deg);
    // }
}
