.App {
display: grid;
grid-gap: 2rem;
grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
grid-template-columns: repeat(3, calc(100% + 5rem));
height:130%;
padding: 2rem;
overflow: hidden;
-webkit-overflow-scrolling: touch;
will-change: transform;
transition: 0.25s;
height: var(--base);
padding-left: 7rem;
}

@media only screen and (min-width: 600px) {
  .App {
    height: 750px;
  }
}

.App.desktop{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.6fr;
  grid-gap: 2rem;
}

a{
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Appred{
  background-color: red;
  min-height: 100vh;
  display: flex;
}

.fade-enter {
opacity:0;
}

.fade-enter.fade-enter-active {

  opacity: 1;
  transition:2000ms ease-in;
}

.fade-exit {

  opacity: 1;
}

.fade-exit.fade-exit-active {
opacity:0;
  transition:  300ms ease-in;
}
/*
.transition-group {
  position: relative;
}
section.route-section {
position: absolute;
width: 100%;
top: 0;
left: 0;
}
*/
.timeline-item {
  background: #fff;

  padding: 12px;
width:100%;
  margin: 0 auto;
  max-width: 472px;
  min-height: 200px;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 200px;
  position: relative;
}

.reflow{  /*4x5 image*/
  position:relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  padding-bottom:125%;
}
.reflow > img{
  position:absolute;
}
.r-main{
  background-color:black;
  padding-bottom:125%;
}

.opacity{
  opacity:1;
  transition:0.5s ease-out;
}

.japanp{
position: relative;
  display: grid;
  grid-template-areas: "content";
  transition: 0.35s;
  opacity: 0;
  /*box-shadow: 6px 10px 28px -15px rgba(0,0,0,0.75);*/
}

.japanp.click-state{
  opacity: 1;
}

.japanp:nth-child(-n+3){
  margin-top: 5rem;
}

.subtitlecontainer{
  width: 100%;
  height: 100%;
  position: absolute;
transition: 0.5s;
}

@media only screen and (min-width: 769px) {
  .subtitlecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
  }
  .japanp:hover > .subtitlecontainer{
    background: black;
  }

}
.imghun{

  width: 100%;
  transition: 0.25s ;

  grid-area: content;
}

.imghun.one{
  /*mix-blend-mode: multiply;*/
 /* filter: brightness(0.8);*/
}
.text{
color: black;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-family: "Roboto";
  display: none;
}

.text.mobile{
  grid-area: content;
  color: white;
  align-items: center;
  justify-content: center;
}
.text h4{
  margin-bottom: 0.75rem;
}

.text.mobile h4{
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

p{
  margin: 0;
}
.subtitletext{
  position:absolute;
  width: 7vw;
  padding: 1rem 2rem;
}
@media only screen and (min-width: 769px) {
  .subtitletext{

    width: 6vw;

  }
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.trails-text {
  position: relative;
  width: 100%;
height:400px;
  line-height: 80px;
  color: palevioletred;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.imge{
  position: relative;
  width: 100%;
height:100%;
  line-height: 80px;
  color: palevioletred;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.imge > div{
  overflow: hidden;
  display: block;
}
.trails-text > div{
  overflow: hidden;
  display: block;
}

.loadmeh{
  display:none;
}



.btn{
  position:fixed;
  right:0;
  z-index:1000;
  width:4rem;
  height: 4rem;
  background-color:transparent;
  border: none;
  color:white;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

.hamburger-1{

  margin-bottom: 0.25rem;
  width:30px;
  height:3px;
  background-color:white;
  transform-origin: center;
}

.hamburger-2{
  margin-bottom: 0.25rem;
  width:30px;
  height:3px;
  background-color:white;
}
.hamburger-3{
  margin-bottom: 0.25rem;
  width:30px;
  height:3px;
  background-color:white;
}

.hamburger-4{
  position:absolute;
  top:-5rem;
  left:50%;
  width:3px;
  height:30px;
  background-color:white;
}
.utsurundesu{
margin: 1.25rem;

  width: 6rem;
  
}
.logo{
  position: fixed;
  mix-blend-mode: difference;
  
  z-index: 901;
  max-width: 1280px;
  margin: 0 auto;
}
.navbar--hidden{
background-color: red;
}

.utsurundesu-hide{
  position: absolute;;
  width:0.1rem;
  height:2.5rem;
  top:0;
  margin: 1rem;
  left:10rem;
  background-color:black;
  transform-origin: left;
  transition: 0.5s;
  mix-blend-mode: subtract;
}
.logoblock{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  background: white;
}


.fullpageload{
  position: absolute;
  z-index: 5000;
  top: 0;
  background: blue;
  height: 1%;
  width: 100%;;
  transition: 1s;
}
.fullpageloadout{
  position: absolute;
  z-index: 5000;
  background: black;
  height: 100%;
  width: 50%;;
  transition: 1s;
}
.loading{
  position: absolute;
  top: 50%;
  width: 100%;
  background: red;
  z-index: 33;

}

.loading-animated-background{

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 400px;
  width: 300px;
  margin: 2rem auto;
  position: relative;

}

.navbar{
  position: fixed;
  z-index: 5000;
  font-size: 3rem;
  background: green;
}

.navbarHidden{
  background: red;
}

.headerpage{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #f4f4f4;
  height: 200px;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.navbuttons{
  position: relative;
  width: 100%;
height:50px;
  font-size: 2rem;
  font-weight: 700;
  will-change: transform, opacity;
  overflow: hidden;
  list-style: none;
}

.navbuttons > div{
  overflow: hidden;
  display: block;
}

.navbuttons > div > a{
  color: black;
  font-family: "Roboto";
  text-decoration: none;
  /*text-transform: uppercase;*/
}
@media only screen and (min-width: 769px) {

  .headerpage{
    transform: translate(0);
    width: 50%;
  }

  .headerpageDesktop{
    width: 100%;

    left: 100%;
    height: 100%;
    position: fixed;
    z-index: 850;

    opacity: 1;
  }
 

  .changebg{
    background: red;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 10rem;
    z-index: 970;
    
  }

  .changebg:hover ~ .headerpageDesktop{
    background: green;
  }
}

.tetxt .sub-title-h3{
  font-size: 3rem;
  text-align: center;
  font-family: Roboto;
}
.coverparent{
  position: fixed;
  width: 100%;
  height: 100%;
}
.coverpage{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.reflow2{  /*4x5 image*/
  position:relative;
  background-color:black;
  padding-bottom:125%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

}
.reflow2.desktop{

}

.reflow2.mobile{
  grid-area: content;
}
.reflow2 > div img{

  width: 100%;
  height: auto;
}

.LazyLoad{
  position: absolute;
  pointer-events: none;
}

@keyframes fadeInImg{
 from{
  opacity: 0}
 to{
  opacity: 1}
}
.img-loading{
   opacity: 0;
   width: 100%;
   height: auto;
}

.overflow{
  height: 400px;
  background: #000000;
  overflow: hidden;
}
.bg{
  width: 100%;
}
.img-loaded{
   animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
   position: relative;
   opacity: 0;
   animation-fill-mode: forwards;
   animation-duration: 0.7s;
   animation-delay: 0.1s;
   pointer-events: none;
  }

   .loaded{
     display: block;
     position: relative;
     opacity: 1;
     transition: 1s cubic-bezier(0.23, 1, 0.32, 1) ;
   }

   .leader{
     
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #000000 8%, #383838 18%, #000000 33%);
  background-size: 800px 104px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
   }

   .header{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: white;
    mix-blend-mode: color-burn;
    background-size: 800px 104px;
  
     width: 200%;
     height:100%;
     position: fixed;
     
   }


   .progress{
     height: 75px;
     top: 0;
     width: 300px;
     position: absolute;
     animation-duration: 3s;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
     animation-name: placeHolderShimmer;
     animation-timing-function: linear;
     background-size: 800px 104px;
     mix-blend-mode: lighten;
     background: linear-gradient(to right, #000 8%, #000 18%, #f8f8f8 33%);
     z-index: 999;
   }

   .up{

    transform: translateY(-1rem);
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1) ;
   }
    .down{
      display: block;
      opacity: 1;
      transition: 1s cubic-bezier(0.23, 1, 0.32, 1) ;
    }

    @keyframes example {
      0% {background-color: red;}
      50% {background-color: black;}
      100% {background-color: red;}
    }

    .width{


      width: 100%;

    }
    .close{
      width: 0;

    }


  .hellobg{
    background: white;
  }

  .desktopheader{
    position: absolute;
    display: flex;
    right: 0;
    width: 550px;
    justify-content: space-evenly;
    color: white;
    z-index: 999;
    margin-top: 1rem;
  }

  .desktopheader a{
    color: white;
    font-weight: 700;
  }

.testcont{
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  top: 2rem;
  z-index: 999;
}
  .testin{
    color: red;
    display: inline-block;
  }
  .testinkid{
    margin: 0;
    left: 2rem;
    display: inline-block;
  }

  .Appcon{
    position: relative;
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
  }

  .Appcon.false{
    pointer-events: none;
  }

  .App.true > .japanp{
    transform: perspective(1000px) rotateY(5deg) scale(0.9);
    transition: 0.3s;
  }

  .App.yes > .japanp{
    transform: perspective(1000px) scale(0.9);
   
  }
  .Appcon.left{
    transform: perspective(1000px) rotateY(-2deg) ;
    transition: 0.15s;
  }
  .Appcon.right{
    transform: perspective(1000px) rotateY(2deg);
    transition: 0.15s;
  }

  .App.false > .japanp{
    transform: perspective(1000px) rotateY(0deg);
    transition: 0.15s;
  }

  .japanp.four, .japanp.five, .japanp.six{
    margin-bottom: 10rem;
  }

  .App.mobile.mob .japanp.three::after{
    content: '';
    position: absolute;
    right: -50px;
    width: 25px;
    height: 100%;
    background: white;
  }

  .japanp.three::after{
    transition: 0.25s;
  }

  .App.mobile.nope .japanp.three::after{
    content: '';
    position: absolute;
    right: -50px;
    width: 25px;
    height: 100%;
    background: white;
  }

  .App.mobile.mob{
    pointer-events: initial;
    overflow: scroll;
  }

  .App.mobile.mob .japanp{
    opacity: 1;
  }

  .App > .japanp::after, .App.yes > .japanp::after{
    content: '';
    position: absolute;
    transition: 0.25s;
    width: 100%;
    opacity: 0;
    height: 100%;
    background: white;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    z-index: -1;
  }

  .App.mob > .japanp::after,.App.yes > .japanp::after{
    opacity: 1;
  }

  @keyframes sheen {
    100% {
      opacity: 1;
    }
  }