.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.Appred{
  background-color: red;
  min-height: 100vh;
  display: flex;
}

.fade-enter {
  transform:translateX(-100%);
}

.fade-enter.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition:300ms ease-in;
}

.fade-exit {
  transform:translateY(0%);
  opacity: 1;
}

.fade-exit.fade-exit-active {
  transform:translateY(100%);
  transition:  300ms ease-in;
}

.transition-group {
  position: relative;
}
section.route-section {
position: absolute;
width: 100%;
top: 0;
left: 0;
}