.things {
    display: flex;
    align-items: center;
    width: 100vw;
    overflow: scroll;
    height: var(--base);
    .things-container {
        display: flex;
        position: relative;
        align-items: center;
    }
}

.th-content {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 5rem;
    position: sticky;
    left: 0;
}
.h-purikura {
    img {
        width: 300px;
    }
}
.h-peacememorial {
    img {
        width: 1000px;
    }
    div {
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 0;
    }
}

.h-postcard img {
    position: sticky;
    width: 250px;
    height: auto;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3);
}

.m-card img,
.m-family img {
    width: 300px;
}

.svht {
    stroke-dasharray: 400;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    fill: transparent;
}

.things-container.zero {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 300px;
    padding-right: 0;
}

.st0 {
    fill: none;
    stroke-width: 9;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.th-container {
    display: flex;
    align-items: center;
    width: 800px;
    &.hide {
        display: none;
    }
}

.th-loading {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--base);
    background: #fff;
    z-index: 2;
    left: 4rem;
    div {
        .th-loading-title {
            position: absolute;
            margin: 0;
        }
    }
    h2 {
        position: absolute;
        z-index: 3;
        font-family: "Roboto Condensed";
        color: white;
        font-size: 4rem;
        margin: 0;
        padding-left: 1rem;
        left: 0;
        text-transform: uppercase;
    }
}

.th-loading-container-3 {
    height: var(--base);
}

.sticky-test {
    min-width: 300vw;

    height: var(--base);
    display: flex;
    align-items: center;
}

.sticky-test-2 {
    position: sticky;
    min-width: 400px;
    left: 0;
    width: 400px;
}

.h-peacememorial {
    min-width: 300vw;
    margin-left: -100vw;
}

.th-sticky{
    position: sticky;
    left: 0;
}



.th-sticky-load {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--base);
    background: #fff;
    z-index: 2;
    left: 4rem;
    width: 200%;
    .th-sticky-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        min-width: 200vw;
        h2 {
            position: absolute;
            z-index: 3;
            font-family: "Roboto Condensed";
            color: white;
            font-size: 4rem;
            margin: 0;
            padding-left: 1rem;
            left: 0;
            text-transform: uppercase;
        }
    }
    .th-sticky-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.th-sticky-load-hiroshima {
    position: sticky;
    left: 0;
    width: 50%;
    img {
        width: 100%;
    }
    .hiroshima-svg {
        width: 350px;
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}